{% extends 'admin/index.html' %}
{% block content %}

 <div class="col-lg-6 mt-3">
     <div class="card p-4">
    <h2>Qurs Qo'shish</h2>
    {% include '../components/msg.html' %}
  <div class="card-body card-block">
      <form action=" {% url 'add_course' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
      <div class="form-group">
          <input type="text" name="course_name"  placeholder="Qurs qo'shing...." class="form-control">
      </div>
      <div class="form-group">
          <button class="btn btn-primary">Qurs qo'shish</button>
      </div>
      </form>
  </div>
  </div>
  </div>

{% endblock %}