{% extends 'admin/index.html' %}
{% block content %}

 <div class="col-lg-6 mt-3">
     <div class="card p-4">
         {% include '../components/msg.html' %}
    <h2>Kursni Tahrirlash</h2>
  <div class="card-body card-block">
      <form action="{% url 'update_session' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
      <input type="hidden" name="id"  value="{{ session.id }}">
      <div class="form-group">
          <input type="date" name="session_start"  value="{{ session.sesstion_start }}" required class="form-control">
      </div>
      <div class="form-group">
          <input type="date" name="session_end"  value="{{ session.sesstion_end }}" required class="form-control">
      </div>
          <div class="form-group">
              <button class="btn btn-primary">Vaqt Yangilash</button>
          </div>
      </form>
</div>

</div>
</div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#image').change(function(e) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#showImage').attr('src', e.target.result)
                }
                reader.readAsDataURL(e.target.files['0'])
            })
        })
    </script>

{% endblock %}
