{% extends 'admin/index.html' %}
{% block content %}

 <div class="col-lg-6 mt-3">
     <div class="card p-4">
         {% include '../components/msg.html' %}
    <h2>Student Tahrirlash</h2>
  <div class="card-body card-block">
      <form action="{% url 'update_student' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
      <input type="hidden" name="student_id"  value="{{ student.admin.id }}">
      <div class="form-group">
          <input type="text" name="first_name"  value="{{ student.admin.first_name }}" required class="form-control">
      </div>
        <div class="form-group">
          <input type="text" name="last_name" value="{{ student.admin.last_name }}" class="form-control">
      </div>
      <div class="form-group">
          <input type="text" name="username"  value="{{ student.admin.username }}" class="form-control">
      </div>
        <div class="form-group">
          <input type="email" name="email" value="{{ student.admin.email }}" class="form-control">
      </div>
      <div class="form-group">
          <input type="password" name="password" value="" class="form-control">
      </div>
      <div class="form-group">
          <input type="text" name="address" value="{{ student.address }}" class="form-control">
      </div>
      <div class="form-group">
          <label  class=" form-control-label">Rasmi</label>
          <input type="file" id="image" name="rasm" value="{{ student.admin.profile_pic }}" class="form-control-file">
      </div>
           <div class="form-group">
               <img id="showImage" width="150" class="rounded" src="" alt="">
           </div>
          <div class="form-group">
            <label for="select" class="form-control-label">Jinsizgiz:</label>
            <select  name="gen"  class="form-control">
                <option value="Erkak">Erkak</option>
                <option value="Ayol">Ayol</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select" class=" form-control-label">Kursni tnlang</label>
            <select name="course_id"  class="form-control">
              {% for i in course %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
        </div>
          <div class="form-group">
            <label for="select" class=" form-control-label">Kurs vaqtini tnlang</label>
            <select name="session_time" id="select" class="form-control">
              {% for i in sessiya %}
                <option value="{{i.id}}">{{i.sesstion_start}} dan {{i.sesstion_end}} gacha</option>
                {% endfor %}
            </select>
        </div>
          <div class="form-group">
              <button class="btn btn-primary">Student qo'shish</button>
          </div>
      </form>
</div>

</div>
</div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#image').change(function(e) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#showImage').attr('src', e.target.result)
                }
                reader.readAsDataURL(e.target.files['0'])
            })
        })
    </script>

{% endblock %}
