{% extends 'admin/index.html' %}
{% block content %}
    {% include '../components/msg.html' %}
<form action=" {% url 'view_student' %}">
          {% csrf_token %}
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Familiya Ism</th>
      <th scope="col">Email</th>
      <th scope="col">Rasm</th>
      <th scope="col">Kurslar</th>
      <th scope="col">Kurs Vaqti</th>
      <th scope="col">Jins</th>
      <th scope="col">Adress</th>
      <th scope="col">Harakatlar</th>
    </tr>
  </thead>
  <tbody>
      {% for i in student %}
      <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.admin.first_name }}</td>
      <td>{{ i.admin.email }}</td>
      <td>
<!--        <img style="object-fit:cover;" width="150" height="70" src="/media/{{i.admin.profile_pic}}">-->
      </td>
      <td>{{ i.course_id.name }}</td>
      <td>{{ i.session_id.sesstion_start }} - {{ i.session_id.sesstion_end }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.address }}</td>
      <td>
        <a href="{% url 'edit_student' i.id %}" class="btn btn-outline-success"><i class="fa fa-edit"></i></a>
        <a id="delete" href="{% url 'delete_student' i.admin.id %}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
      </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}